<!--Attempting the poll by the user after login-->

{% extends 'base.html' %}


{% block content %}

<div align="center" style="padding : 80px 55px 90px; margin : 50px 0px opx 80px; color : black; size:auto 100%">

    {% if form.attempted_by == request.user.username %}
          <p style="background-color : lightblue; padding : 10px; font-family : poppins">You response have been saved for this poll</p>
    {% elif total == 12 %}
          <p style="background-color : lightblue; padding : 10px; font-family : poppins">Attempt limit exceeded</p>
    {% else %}
         <div style="padding : 10px;border : 2px #6495ED; border-radius: 05px; border-style: solid; background-color : #F3E0BE">

               <form method="post" action="{% url 'attempt' form.id %}" >
                    {% csrf_token %}
                   <p style="font-weight : bold">{{form.title}}:</p>

                     <input type="radio" id="o1" name="poll" value={{form.option1}}>
                     <label for="o1">{{form.option1}}</label><br>
                     <input type="radio" id="o2" name="poll" value={{form.option2}}>
                     <label for="o2">{{form.option2}}</label><br>
                     <input type="radio" id="o3" name="poll" value={{form.option3}}>
                     <label for="o3">{{form.option3}}</label><br>
                     <input type="radio" id="o4" name="poll" value={{form.option4}}>
                     <label for="o4">{{form.option4}}</label><br>
                     <input type="radio" id="o5" name="poll" value={{form.option5}}>
                     <label for="o5">{{form.option5}}</label><br>
                     <button class="btn btn-success" type="submit">submit</button>
            </form>
    </div>

    {% endif %}
</div>

{% endblock %}