<!--Poll creation-->

{% extends 'base.html' %}


{% block content %}

  <div align="center" style="padding : 80px 55px 90px; margin : 50px 0px opx 80px; color : black;background-color : #F3E0BE; size:auto 100%">
    {% for message in messages %}
      <p id = "link" style="background-color : lightblue; padding : 10px; font-family : poppins">{{message}}</p>
    {% endfor %}
      <div class="form-group">
      <form method="POST" action="createpoll">
        {% csrf_token %}
    <div class="col-25">{{form.title.label}}</div>
    <div class = "col-75">{{form.title}}</div>
    <div class="class-25">{{form.option1.label}}</div>
    <div class = "col-75">{{form.option1}}</div>
    <div class="class-25">{{form.option2.label}}</div>
    <div class = "col-75">{{form.option2}}</div>
    <div class="class-25">{{form.option3.label}}</div>
    <div class = "col-75">{{form.option3}}</div>
    <div class="class-25">{{form.option4.label}}</div>
    <div class = "col-75">{{form.option4}}</div>
    <div class="class-25">{{form.option5.label}}</div>
    <div class = "col-75">{{form.option5}}</div>
</div>
    <button type="submit" class="btn btn-primary" style="font-family : poppins;"> CREATE </button>
</form>

</div>

{% endblock %}