<!--Get results of the poll-->

{% extends 'base.html' %}


{% block content %}

<div align="center" style="padding : 80px 55px 90px; margin : 50px 0px opx 80px; color : black; size:auto 100%">
    <div style="border : 2px black  border-radius: 25px; border-style: groove; background-color : #F3E0BE">
    <p style="font-weight : bold">{{form.title}}</p>
    <p> {{form.option1}} - {{form.c1}}</p>
    <p>{{form.option2}} - {{form.c2}}</p>
    <p>{{form.option3}} - {{form.c3}}</p>
    <p>{{form.option4}} - {{form.c4}}</p>
    <p>{{form.option5}} - {{form.c5}}</p>
    </div>
</div>

{% endblock %}