<!--Home page of the application-->

{% extends 'base.html' %}


{% block content %}

<div class="header">
	<div class="brand-box">
		<span class="brand"></span>
	</div>

	<div class="text-box">
		<h1 class="heading-primary">
			<span class="heading-primary-main">"Talk is cheap</span>
                <span class="heading-primary-sub">Voting is free"</span>
		</h1>
		<form method="get" action="getpoll">
		<input type="text" class="form-inline" id="usr" name="link" style="color : black;font-size : 15px ;padding :6px ;
		border-radius : 5px; font-family : poppins; margin : 10px" placeholder="enter the link...">
		<button class="btn btn-white btn-animated" type="submit">Get Poll</button>
			</form>
	</div>
</div>

{% endblock %}