<!-- Generating link for a poll-->

{% extends 'base.html' %}


{% block content %}

<div style="padding : 80px 55px 90px; margin : 50px 0px opx 80px; color : black; size:auto 100%">
    <p id = "link" style="background-color : lightblue; padding : 10px; font-family : poppins">
        <input class="form-control"  type="text" value= "{{link}}" id="myInput" style="padding : auto"></p>
<button class="btn btn-primary" onclick="myFunction()">Copy Link</button>

<script>
function myFunction() {
  var copyText = document.getElementById("myInput");
  copyText.select();
  copyText.setSelectionRange(0, 99999)
  document.execCommand("copy");
  alert("Copied the Link");
}
</script>

</div>


{% endblock %}