<!--Polls created by the native user-->

{%  extends 'base.html'  %}
{%  block content   %}

<div style="padding : 80px 55px 90px; margin : 50px 0px opx 80px; color : black;">

    {% if mypolls %}
          {% for polls in mypolls %}

    <div style="padding : 7px;border : 2px #6495ED; border-radius: 05px; border-style: solid; background-color : #F3E0BE">
        <div><p style="font-size : 13px;font-family : cambria;"> Published on : {{polls.published_on}}</p></div>
    <form action="{% url 'getresult' polls.id  %}">
        <label style="font-family : verdana">Title : {{polls}}</label><br>
        <p><button class="btn btn-info" type="submit" style="font-family : poppins">GetResults</button></p>
        </form>
        <form action="{% url 'getlink' polls.id %}">
            <p><button class="btn btn-primary" type="submit" style="font-family : poppins">GetPollLink</button></p>
        </form>
    </div>

        {% endfor %}

    {% else %}
    <p style="background-color : lightblue; padding : 10px; font-family : poppins">Still You haven't created the poll</p>

    {% endif %}

</div>

{% endblock %}