<!--Navigation bar-->

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'home' %}" style="font-family : Brush Script MT; font-size : 50px">VTwelve</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'mypolls'  %}">MyPolls</a></li>
      <li><a href="{% url 'otherpolls' %}">OtherPolls</a></li>
        <li><a href="{% url 'createpoll' %}">CreatePoll</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {% if user.is_authenticated %}
         <li><span class="glyphicon " style="margin : 15px"></span>Hii,{{user.username | title}}</li>
         <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-user"></span> Logout</a></li>
      {% else %}
         <li><a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
         <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      {% endif %}
    </ul>
  </div>
</nav>