<!--Polls created by the registered users -->

{% extends 'base.html' %}
{%  block content %}

<div style="padding : 80px 55px 90px; margin : 50px 0px opx 80px; color : black;">
    {% if polls %}
    {% for poll in polls   %}

<div style="padding : 10px;border : 2px #6495ED; border-radius: 05px; border-style: solid; background-color : #F3E0BE">
<form action="{% url 'attempt' poll.id %}">
        <div style="border: 2px #F5F5F5; border-style : outset;padding : 5px ">
            <p style="font-size : 13px;text-align : left; font-family : cambria;">created by : {{poll.created_by | title}}</p>
            <p style="font-size : 13px;font-family : cambria;"> Published on : {{poll.published_on}}</p></div>
    <div><p style="font-weight : bold; font-family :   Verdana; font-size : 17px">Title : {{poll.title}} </p></div>
    <p> <button class="btn btn-outline-primary" type="submit" style="font-family : poppins; color : black;border : 2px black">GetPoll</button> </p>
</form>
<form action="{% url 'getresult' poll.id %}">
    <p><button class="btn btn-info"  type="submit" style="border-radius : 5px">GetResult</button> </p>
</form>
    <form action="{% url 'getlink' poll.id %}">
            <button class="btn btn-primary" type="submit" style="font-family : poppins">GetPollLink</button>
        </form>
</div>

{%  endfor  %}
{% else %}
     <p style="background-color : lightblue; padding : 10px; font-family : poppins">Still no one created the polls</p>
    {% endif  %}

</div>
{% endblock %}